.clipboard-button {
  @apply m-2 text-inherit;
  position: absolute;
  right: 0;
  border-radius: 6px;
  font-size: 0.8em;
  z-index: 10;
  opacity: 0.5;
  transition: 0.5s;
}

.clipboard-button:hover {
  cursor: pointer;
}

.clipboard-button .svg-icon svg {
  fill: currentColor;
}

.clipboard-button:focus {
  outline: 0;
}

.highlight {
  position: relative;
}

.highlight:hover > .clipboard-button {
  opacity: 1;
  transition: 0.5s;
}

/* Clipboard button icon styles */
.clipboard-button {
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.clipboard-button::before {
  background-color:currentColor;
  content:"";
  display:inline-block;
  width: 1em;
  height: 1em;
  -webkit-mask-image:var(--icon-copy);
  mask-image:var(--icon-copy);
  -webkit-mask-position:center;
  mask-position:center;
  -webkit-mask-repeat:no-repeat;
  mask-repeat:no-repeat;
  -webkit-mask-size:contain;
  mask-size:contain;
}

.clipboard-button.is-copied::before {
  -webkit-mask-image:var(--icon-checkmark);
  mask-image:var(--icon-checkmark);
}