/* Header */

header {
  @apply bg-primary-100 dark:bg-primary-900 sticky top-0 w-full z-50 shadow-sm dark:shadow-xl;
}



/* Sidebar */

main .jc-sidebar {
  @apply hidden lg:block lg:relative w-1/4;
}

main .jc-sidebar--primary {
}

main .jc-sidebar-scrollwrap {
  @apply sticky top-[72px] overflow-y-auto max-h-[calc(100vh-116px)];
}

main .jc-sidebar-inner {

}

main .jc-nav {
  
}

main .jc-nav--primary {
  @apply font-medium text-base lg:text-sm pt-8;
}

main .jc-nav__list {
  @apply list-none p-0 m-0;
}

main .jc-nav-item {
  @apply text-xl;
}

main .jc-nav-item:not(:first-child) {
  @apply mt-2;
}

main .jc-nav-item__active {
  @apply text-green-600 dark:text-green-300 mb-2;
}

main .jc-nav__link {

}

main .jc-nav__link--active {

}

main .jc-nav__link .jc-ellipsis {
  @apply relative;
}

.jc-ellipsis {
  @apply overflow-ellipsis overflow-hidden;
}

.jc-nav__item--section {

}

.jc-nav__item--nested {
  @apply relative pl-5 leading-7 text-sm font-normal;
}

/* Main content - headings */

main .content h1,
main .content h2,
main .content h3,
main .content h4,
main .content h5
main .content h6 {
  overflow-wrap: break-word;
  @apply relative font-light;
}

main .content h1 {
  @apply mb-4;
}

main .content h2,
main .content h3,
main .content h4,
main .content h5
main .content h6 {
  @apply my-4;
}

main .content h1 {
  @apply text-4xl;
}


main .content h2 {
  @apply text-3xl;
}

main .content h3 {
  @apply text-3xl;
}

main .content h4 {
  @apply text-2xl;
}

main .content h5 {
  @apply text-xl;
}

main .content h6 {
  @apply text-lg;
}

/* Links in headings */

main .content h1 > a,
main .content h2 > a,
main .content h3 > a,
main .content h4 > a,
main .content h5 > a,
main .content h6 > a
main .content h1 > a:visited,
main .content h2 > a:visited,
main .content h3 > a:visited,
main .content h4 > a:visited,
main .content h5 > a:visited,
main .content h6 > a:visited {
  @apply text-inherit;
}

/* Other links */
main .content a,
main .content a:visited {
  @apply text-green-600 dark:text-green-300 font-medium transition-colors duration-300;
}

main .content a:hover,
main .content a:focus {
  @apply text-green-400 dark:text-green-200 font-medium;
}

/* Code */

main .content code {
  @apply font-mono font-medium text-sm text-primary-500 dark:text-primary-100 rounded-sm px-1.5 py-0.5;
}

/* Paragraphs */

main .content p {
  @apply mb-4 leading-7;
  text-align: justify;
  hyphens: auto;
}


/*main .content a > code {
  @apply transition-colors duration-300;
}*/

/*main .content .admonition .content a:hover > code,
main .content a:hover > code {
  @apply text-blue-300 border-blue-300;
}*/

/*main .content a > code:after {
  @apply relative inline-block w-3 h-3 ml-2 top-0.5 text-primary-500 fill-current opacity-60 transition duration-300;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23093D8D" d="M67.508 468.467c-58.005-58.013-58.016-151.92 0-209.943l225.011-225.04c44.643-44.645 117.279-44.645 161.92 0 44.743 44.749 44.753 117.186 0 161.944l-189.465 189.49c-31.41 31.413-82.518 31.412-113.926.001-31.479-31.482-31.49-82.453 0-113.944L311.51 110.491c4.687-4.687 12.286-4.687 16.972 0l16.967 16.971c4.685 4.686 4.685 12.283 0 16.969L184.983 304.917c-12.724 12.724-12.73 33.328 0 46.058 12.696 12.697 33.356 12.699 46.054-.001l189.465-189.489c25.987-25.989 25.994-68.06.001-94.056-25.931-25.934-68.119-25.932-94.049 0l-225.01 225.039c-39.249 39.252-39.258 102.795-.001 142.057 39.285 39.29 102.885 39.287 142.162-.028A739446.174 739446.174 0 0 1 439.497 238.49c4.686-4.687 12.282-4.684 16.969.004l16.967 16.971c4.685 4.686 4.689 12.279.004 16.965a755654.128 755654.128 0 0 0-195.881 195.996c-58.034 58.092-152.004 58.093-210.048.041z"></path></svg>');
}*/

/*main .content a:hover > code:focus,
main .content a:hover > code:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%2393c5fd" d="M67.508 468.467c-58.005-58.013-58.016-151.92 0-209.943l225.011-225.04c44.643-44.645 117.279-44.645 161.92 0 44.743 44.749 44.753 117.186 0 161.944l-189.465 189.49c-31.41 31.413-82.518 31.412-113.926.001-31.479-31.482-31.49-82.453 0-113.944L311.51 110.491c4.687-4.687 12.286-4.687 16.972 0l16.967 16.971c4.685 4.686 4.685 12.283 0 16.969L184.983 304.917c-12.724 12.724-12.73 33.328 0 46.058 12.696 12.697 33.356 12.699 46.054-.001l189.465-189.489c25.987-25.989 25.994-68.06.001-94.056-25.931-25.934-68.119-25.932-94.049 0l-225.01 225.039c-39.249 39.252-39.258 102.795-.001 142.057 39.285 39.29 102.885 39.287 142.162-.028A739446.174 739446.174 0 0 1 439.497 238.49c4.686-4.687 12.282-4.684 16.969.004l16.967 16.971c4.685 4.686 4.689 12.279.004 16.965a755654.128 755654.128 0 0 0-195.881 195.996c-58.034 58.092-152.004 58.093-210.048.041z"></path></svg>');
}*/


/*main .content p > code,
main .content p > a > code,
main .content li > code,
main .content table:not(.lntable) td code,
main .content .admonition .content > code,
main .content .admonition .content a > code,
main .content .admonition .content p > code {
  @apply text-xs text-primary-500 font-mono font-medium border border-primary-500/20 bg-light-primary/10 dark:bg-dark-secondary/10 rounded-sm p-1;
}*/

/* CLI options */
/*main .content p code.option.deprecated,
main .content li code.option.deprecated {
  @apply text-red-700 border-red-300 bg-red-100/30;
}
main .content p code.option.new,
main .content li code.option.new {
  @apply text-indigo-700 border-indigo-300 bg-indigo-100/30;
}*/

main .content ul {
  @apply mt-0 mb-4 pl-8;
  list-style: disc;
}

main .content ol {
  @apply list-inside pl-8;
  counter-reset: count;
}

main .content ul > li,
main .content ol > li {
  @apply relative leading-8  text-primary-500 dark:text-primary-100;
}

main .content ol > li {
  counter-increment: count;
}

/*main .content ul > li:before {
  @apply absolute w-1.5 h-1.5 -left-4 bg-blue-400 rounded-full;
  top: 0.825rem;
}*/

main .content ol > li:before {
  @apply absolute w-1.5 h-1.5 -left-5 font-medium;
  content: counter(count) ". ";
}

/*main .content ul li ul,
#content main ul li ol #content main ol li ul,
#content main ol li ol {
  @apply mt-0 mb-4;
}*/

/* Summary */

/*#content main:not(#docs) h1 ~ p:first-of-type,
#content main div.summary p {
  @apply font-medium;
}

#content main:not(#docs) h1 ~ p:first-of-type strong,
#content main div.summary p strong {
  @apply font-semibold;
}*/

/* Tables */

main .content .table-wrapper {
  @apply min-w-full my-8 rounded-lg;
}

main .content table:not(.lntable) {
  @apply min-w-full divide-y border-separate;
  border-spacing: 0;
}

main .content table:not(.lntable) thead {
  @apply bg-none;
}

main .content table:not(.lntable) thead th {
  @apply px-6 py-4 border-indigo-100 text-left text-xs font-semibold uppercase tracking-wider;
}

main .content table:not(.lntable) tbody tr:first-child > td:first-child {
  @apply rounded-tl-md;
}

main .content table:not(.lntable) tbody tr:nth-child(2n) td {
  @apply bg-transparent;
}

main .content table:not(.lntable) tbody tr:nth-child(2n + 1) td {
  @apply bg-transparent;
}

main .content table:not(.lntable) tbody tr td {
  @apply px-6 py-4 text-sm border-b border-b-secondary-100;
}

main .content table:not(.lntable) tbody tr:first-child > td:last-child {
  @apply rounded-tr-md;
}

main .content table:not(.lntable) tbody tr:first-child > td {
  @apply border-t border-t-secondary-100;
}

main .content table:not(.lntable) tbody tr > td:first-child {
  @apply border-l border-l-secondary-100;
}

main .content table:not(.lntable) tbody tr > td:last-child {
  @apply border-r border-r-secondary-100;
}

main .content table:not(.lntable) tbody tr:last-child > td:first-child {
  @apply rounded-bl-md;
}

main .content table:not(.lntable) tbody tr:last-child > td:last-child {
  @apply rounded-br-md;
}

main .content table:not(.lntable) tbody tr:last-child > td {
  @apply border-b border-b-secondary-100;
}

main .content table:not(.lntable) td code {
  @apply leading-7;
}

/* Highlight */

main .content .highlight {
  @apply pb-4;
}

/*#content main .highlight {
  @apply relative w-full rounded-lg text-sm mx-auto my-8;
}

#content main .highlight table.lntable {
  @apply w-full bg-highlight rounded-lg;
}

#content main .highlight table.lntable tr {
  @apply rounded-lg;
}

#content main .highlight table.lntable tr td pre {
  @apply bg-transparent;
}

#content main .highlight table.lntable tr td:first-child pre {
  @apply border-r-0 pl-7 pr-0 rounded-r-none;
}

#content main .highlight table.lntable tr td:last-child pre {
  @apply border-l-0 rounded-l-none pl-4;
}*/

/* Admonitions */

#content main .admonition {
  @apply relative w-full mx-auto my-8 leading-7 bg-secondary-50 rounded-lg px-8 py-6 shadow-xs;
}

#content main .admonition:before,
#content main .admonition:after {
  @apply hidden absolute w-9 h-9 text-center;
  top: 50%;
  transform: translateY(-50%);
  left: -3.5rem;
}

/*#content main .admonition .title {
  @apply hidden;
}

#content main .admonition.note {
  @apply bg-green-100/10 border-2 border-dotted border-green-500 text-primary-500;
}

#content main .admonition.note:before {
  @apply text-secondary-700;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><g><path fill="%2322c55d" d="M543.8 256c0-36.5-18.86-68.38-46.86-86.75c6.875-32.88-2.517-68.63-28.14-94.25c-25.62-25.75-61.61-35.13-94.36-28.25C355.1 18.75 324.1 0 287.8 0S219.5 18.75 200.1 46.75C168.1 39.88 132.5 49.38 106.8 75C81.09 100.6 71.61 136.5 78.48 169.3C50.36 187.8 31.84 219.8 31.84 256s18.64 68.25 46.64 86.75C71.61 375.6 81.21 411.4 106.8 437c25.62 25.75 61.14 35.13 94.14 28.25C219.5 493.4 251.6 512 287.8 512c36.38 0 68.14-18.75 86.64-46.75c33 6.875 68.73-2.625 94.36-28.25c25.75-25.62 35.02-61.5 28.14-94.25C525.1 324.3 543.8 292.3 543.8 256zM384.1 216.1l-112 112C268.3 333.7 262.1 336 256 336s-12.28-2.344-16.97-7.031l-48-48c-9.375-9.375-9.375-24.56 0-33.94s24.56-9.375 33.94 0L256 278.1l95.03-95.03c9.375-9.375 24.56-9.375 33.94 0S394.3 207.6 384.1 216.1z"></path><path fill="%23fbfdff" d="M384.1 216.1l-112 112C268.3 333.7 262.1 336 256 336s-12.28-2.344-16.97-7.031l-48-48c-9.375-9.375-9.375-24.56 0-33.94s24.56-9.375 33.94 0L256 278.1l95.03-95.03c9.375-9.375 24.56-9.375 33.94 0S394.3 207.6 384.1 216.1z"></path></g></svg>');
}

#content main .admonition.warning {
  @apply bg-red-100/10 border-2 border-dotted border-red-500 text-primary-500;
}

#content main .admonition.warning:before {
  @apply w-8 h-8;
  left: -3.375rem;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><path fill="%23f43f5f" fill-opacity="100%" d="M144.9 99.68l267.4 267.4c-12.46 17.49-27.76 32.79-45.25 45.25L99.68 144.9C112.1 127.4 127.4 112.1 144.9 99.68z"></path><path fill="%23f43f5f" fill-opacity="80%" d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 448c-105.9 0-192-86.13-192-192s86.13-192 192-192s192 86.13 192 192S361.9 448 256 448z"></path></g></svg>');
}

#content main .admonition .highlight {
  @apply w-full mx-0;
}

#content main .admonition p:last-child,
#content main .admonition .highlight:last-child {
  @apply mb-0;
}*/

/* Selects/Dropdowns */
/*#content main ul.select-menu > li > a {
  @apply text-primary-500;
}*/

/* Tabs */

/* Desktop Tabs */
main .content a.tab {
  @apply border-transparent text-green-600/50 hover:text-green-600 hover:border-green-600 dark:text-green-300/50 dark:hover:text-green-200 dark:hover:border-green-200 whitespace-nowrap py-4 px-1 border-b-2;
}

main .content a.tab.active {
  @apply text-green-600 border-green-600 dark:text-green-300 dark:border-green-300;
}

/* Mobile Tabs */
main .content .tabs-mobile .tab-button {
  @apply ml-2 block truncate font-medium;
}

main .content .tabs-mobile .tab-list {
  @apply p-1 drop-shadow absolute z-10 mt-0 w-full max-w-full bg-white max-h-80 rounded-md py-1 text-base ring-1 ring-indigo-900/5 overflow-auto transition transform focus:outline-hidden sm:text-sm dark:bg-gray-700 dark:shadow-clean-dark-lg;
}

main .content .tabs-mobile .tab-item {
  @apply cursor-default select-none relative pl-3 pr-0 py-1;
}

main .content .tabs-mobile .tab-item::before {
  content: none;
}

main .content .tabs-mobile .tab-item a {
  @apply relative flex justify-end items-center content-center transition p-0 rounded-sm duration-300 hover:bg-light-note dark:hover:bg-gray-900 text-inherit;
}

main .content .tab-content {
  @apply pt-4;
}


/* Steps */
/*main .content ol.steps {
  @apply relative space-y-2 mb-16 pl-0;
}

main .content ol.steps li.step {
  @apply relative pl-10 pb-8 leading-6 mb-0;
}

main .content ol.steps li.step:last-child {
  @apply pb-0;
}

main .content ol.steps li.step p {
  @apply leading-6;
}

main .content ol.steps li.step:before {
  @apply absolute left-0 flex items-center justify-center rounded-md shadow-clean-sm ring-1 ring-primary-200 font-semibold text-xs text-primary-500;
  content: counter(count);
  width: calc(1.375rem + 1px);
  height: calc(1.375rem + 1px);
}

main .content ol.steps li.step:after {
  @apply absolute bg-primary-100;
  content: "";
  width: 1px;
  left: 0.6875rem;
  bottom: 0;
  top: calc(1.875rem + 1px);
}

main .content ol.steps li.step:last-child:after {
  @apply hidden;
}*/

/* Tags */
main .content .tags a {
  @apply border-0;
}

/*@media (width >= theme(--breakpoint-md)) {
  #content main .highlight {
    @apply w-5/6;
  }

  #content main .highlight pre {
    @apply py-7;
  }

  #content main .admonition {
    @apply w-5/6 mx-auto;
  }

  #content main .admonition:before,
  #content main .admonition:after {
    @apply inline-block;
  }

  #content main .admonition .highlight {
    @apply w-full;
  }

  #content main .admonition .highlight:before {
    @apply hidden;
  }

  html.dark #content main .highlight {
    @apply border-dark-primary/20;
  }
}*/

html.dark #content main a > h1,
html.dark #content main a:visited > h1,
html.dark #content main a:focus > h1,
html.dark #content main a:active > h1 {
  @apply text-dark-primary;
}

html.dark #content main a,
html.dark #content main a:visited {
  @apply text-blue-300;
}

html.dark #content main a:hover,
html.dark #content main a:focus {
  @apply text-blue-200 border-blue-200;
}

html.dark #content main a > code:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23cfedfc" d="M67.508 468.467c-58.005-58.013-58.016-151.92 0-209.943l225.011-225.04c44.643-44.645 117.279-44.645 161.92 0 44.743 44.749 44.753 117.186 0 161.944l-189.465 189.49c-31.41 31.413-82.518 31.412-113.926.001-31.479-31.482-31.49-82.453 0-113.944L311.51 110.491c4.687-4.687 12.286-4.687 16.972 0l16.967 16.971c4.685 4.686 4.685 12.283 0 16.969L184.983 304.917c-12.724 12.724-12.73 33.328 0 46.058 12.696 12.697 33.356 12.699 46.054-.001l189.465-189.489c25.987-25.989 25.994-68.06.001-94.056-25.931-25.934-68.119-25.932-94.049 0l-225.01 225.039c-39.249 39.252-39.258 102.795-.001 142.057 39.285 39.29 102.885 39.287 142.162-.028A739446.174 739446.174 0 0 1 439.497 238.49c4.686-4.687 12.282-4.684 16.969.004l16.967 16.971c4.685 4.686 4.689 12.279.004 16.965a755654.128 755654.128 0 0 0-195.881 195.996c-58.034 58.092-152.004 58.093-210.048.041z"></path></svg>');
}

html.dark #content main .admonition .content a:focus > code:after,
html.dark #content main .admonition .content a:hover > code:after,
html.dark #content main a:focus > code:after,
html.dark #content main a:hover > code:after {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23bfdbfe" d="M67.508 468.467c-58.005-58.013-58.016-151.92 0-209.943l225.011-225.04c44.643-44.645 117.279-44.645 161.92 0 44.743 44.749 44.753 117.186 0 161.944l-189.465 189.49c-31.41 31.413-82.518 31.412-113.926.001-31.479-31.482-31.49-82.453 0-113.944L311.51 110.491c4.687-4.687 12.286-4.687 16.972 0l16.967 16.971c4.685 4.686 4.685 12.283 0 16.969L184.983 304.917c-12.724 12.724-12.73 33.328 0 46.058 12.696 12.697 33.356 12.699 46.054-.001l189.465-189.489c25.987-25.989 25.994-68.06.001-94.056-25.931-25.934-68.119-25.932-94.049 0l-225.01 225.039c-39.249 39.252-39.258 102.795-.001 142.057 39.285 39.29 102.885 39.287 142.162-.028A739446.174 739446.174 0 0 1 439.497 238.49c4.686-4.687 12.282-4.684 16.969.004l16.967 16.971c4.685 4.686 4.689 12.279.004 16.965a755654.128 755654.128 0 0 0-195.881 195.996c-58.034 58.092-152.004 58.093-210.048.041z"></path></svg>');
}

html.dark #content main .admonition .content a:focus > code,
html.dark #content main .admonition .content a:hover > code,
html.dark #content main a:focus > code,
html.dark #content main a:hover > code {
  @apply text-blue-200 border-blue-200;
}

html.dark #content main code {
  @apply text-indigo-300;
}

html.dark #content main p code,
html.dark #content main li code,
html.dark #content main .admonition .content > code,
html.dark #content main .admonition .content a > code,
html.dark #content main .admonition .content p > code,
html.dark #content main table td code {
  @apply text-dark-primary border-dark-primary/20;
}

/* CLI options */
html.dark #content main p code.option.deprecated,
html.dark #content main li code.option.deprecated {
  @apply text-red-300 border-red-300/60 bg-gray-900;
}

html.dark #content main p code.option.new,
html.dark #content main li code.option.new {
  @apply text-blue-300 border-blue-300/60 bg-gray-900;
}

html.dark #content main ul li:before {
  @apply bg-indigo-300;
}

html.dark #content main ol li:before {
  @apply text-indigo-300;
}

/* Admonitions */
html.dark #content main .admonition {
  @apply bg-gray-500/20 shadow-clean-dark border-2;
}

html.dark #content main .admonition.note {
  @apply border-green-300 text-dark-primary;
}

html.dark #content main .admonition.note:before {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><g><path fill="%2385efac" fill-opacity="80%" d="M543.8 256c0-36.5-18.86-68.38-46.86-86.75c6.875-32.88-2.517-68.63-28.14-94.25c-25.62-25.75-61.61-35.13-94.36-28.25C355.1 18.75 324.1 0 287.8 0S219.5 18.75 200.1 46.75C168.1 39.88 132.5 49.38 106.8 75C81.09 100.6 71.61 136.5 78.48 169.3C50.36 187.8 31.84 219.8 31.84 256s18.64 68.25 46.64 86.75C71.61 375.6 81.21 411.4 106.8 437c25.62 25.75 61.14 35.13 94.14 28.25C219.5 493.4 251.6 512 287.8 512c36.38 0 68.14-18.75 86.64-46.75c33 6.875 68.73-2.625 94.36-28.25c25.75-25.62 35.02-61.5 28.14-94.25C525.1 324.3 543.8 292.3 543.8 256zM384.1 216.1l-112 112C268.3 333.7 262.1 336 256 336s-12.28-2.344-16.97-7.031l-48-48c-9.375-9.375-9.375-24.56 0-33.94s24.56-9.375 33.94 0L256 278.1l95.03-95.03c9.375-9.375 24.56-9.375 33.94 0S394.3 207.6 384.1 216.1z"></path><path fill="%231d313a" d="M384.1 216.1l-112 112C268.3 333.7 262.1 336 256 336s-12.28-2.344-16.97-7.031l-48-48c-9.375-9.375-9.375-24.56 0-33.94s24.56-9.375 33.94 0L256 278.1l95.03-95.03c9.375-9.375 24.56-9.375 33.94 0S394.3 207.6 384.1 216.1z"></path></g></svg>');
}

html.dark #content main .admonition.warning:before {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><path fill="%23FB7185" fill-opacity="40%" d="M406.78 361.53a186.53 186.53 0 0 1-45.25 45.25L105.22 150.47a186.53 186.53 0 0 1 45.25-45.25z"></path><path fill="%23FB7185" fill-opacity="80%" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm130.11 378.11A184 184 0 1 1 440 256a182.82 182.82 0 0 1-53.89 130.11z"></path></g></svg>');
}

html.dark #content main .admonition.warning {
  @apply border-red-300 text-dark-primary;
}

/* Tables */

html.dark #content main table:not(.lntable) tbody tr td {
  @apply border-b border-gray-600/20 rounded-none;
}

html.dark #content main table:not(.lntable) tbody tr:last-child td {
  @apply border-0;
}

html.dark #content main table:not(.lntable) tbody tr:nth-child(2n + 1) td {
  @apply bg-dark-note-darker/40;
}

/* Highlight */
/*html.dark #content main .highlight table.lntable {
  @apply bg-gray-900/100;
}*/

/* Selects/Dropdowns */
html.dark #content main ul.select-menu > li > a {
  @apply text-dark-primary;
}

/* Tabs */
html.dark #content main a.tab {
  @apply text-dark-primary/60 hover:border-gray-300 hover:text-dark-primary/100;
}

html.dark #content main a.tab.active {
  @apply text-blue-300/100 border-blue-300;
}

/* Steps */
html.dark #content main ol.steps li.step:before {
  @apply shadow-clean-dark-sm ring-gray-600 text-dark-primary bg-gray-700/50;
}
html.dark #content main ol.steps li.step:after {
  @apply bg-gray-700;
}

/* Pagination */
#content main ul.pagination li {
  display: inline-block;
  margin: 0 5px;
}

#content main ul.pagination li.active a {
  @apply text-primary-200;
}

html.dark #content main ul.pagination li.active a {
  @apply text-dark-primary;
}

.svg-logo svg {
  fill: currentColor;
}

.footer {
  @apply sticky bottom-0 w-full bg-primary-50 dark:bg-primary-900 border-t-1 border-white dark:border-primary-950;
}

.version-selector {
}

.version-selector-item a {
  @apply flex justify-end items-center content-center transition py-2 px-1.5 rounded-sm duration-300 hover:text-green-400 dark:hover:text-green-300;
}

.version-selector-item a .version-selector-item-selected{
  @apply bg-green-500 shrink-0 inline-block h-2 w-2 rounded-full dark:bg-green-300;
}
