.highlight pre {
  @apply px-4 py-3 overflow-auto rounded-sm font-mono leading-6;
}

.highlight pre code {
  @apply w-full! inline-block!;
}

.highlight pre code::selection,
.highlight pre code span::selection {
  @apply bg-gray-200;
}

/* Highlight */
.highlight pre code .hl {
  @apply relative -ml-8 -mr-8 pl-8 w-full block;
}

.highlight pre code .hl:before {
  @apply absolute w-1.5 h-1.5 left-3 bg-blue-400 rounded-full;
  top: 0.625rem;
  content: " ";
}

html:not(.dark) /* Background */ .bg { color:#272822;background-color:#fafafa; }
html:not(.dark) /* PreWrapper */ .chroma { color:#272822;background-color:#fafafa; }
html:not(.dark) /* Other */ .chroma .x {  }
html:not(.dark) /* Error */ .chroma .err { color:#960050;background-color:#1e0010 }
html:not(.dark) /* CodeLine */ .chroma .cl {  }
html:not(.dark) /* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
html:not(.dark) /* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
html:not(.dark) /* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
html:not(.dark) /* LineHighlight */ .chroma .hl { background-color:#e1e1e1 }
html:not(.dark) /* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
html:not(.dark) /* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
html:not(.dark) /* Line */ .chroma .line { display:flex; }
html:not(.dark) /* Keyword */ .chroma .k { color:#00a8c8 }
html:not(.dark) /* KeywordConstant */ .chroma .kc { color:#00a8c8 }
html:not(.dark) /* KeywordDeclaration */ .chroma .kd { color:#00a8c8 }
html:not(.dark) /* KeywordNamespace */ .chroma .kn { color:#f92672 }
html:not(.dark) /* KeywordPseudo */ .chroma .kp { color:#00a8c8 }
html:not(.dark) /* KeywordReserved */ .chroma .kr { color:#00a8c8 }
html:not(.dark) /* KeywordType */ .chroma .kt { color:#00a8c8 }
html:not(.dark) /* Name */ .chroma .n { color:#111 }
html:not(.dark) /* NameAttribute */ .chroma .na { color:#75af00 }
html:not(.dark) /* NameBuiltin */ .chroma .nb { color:#111 }
html:not(.dark) /* NameBuiltinPseudo */ .chroma .bp { color:#111 }
html:not(.dark) /* NameClass */ .chroma .nc { color:#75af00 }
html:not(.dark) /* NameConstant */ .chroma .no { color:#00a8c8 }
html:not(.dark) /* NameDecorator */ .chroma .nd { color:#75af00 }
html:not(.dark) /* NameEntity */ .chroma .ni { color:#111 }
html:not(.dark) /* NameException */ .chroma .ne { color:#75af00 }
html:not(.dark) /* NameFunction */ .chroma .nf { color:#75af00 }
html:not(.dark) /* NameFunctionMagic */ .chroma .fm { color:#111 }
html:not(.dark) /* NameLabel */ .chroma .nl { color:#111 }
html:not(.dark) /* NameNamespace */ .chroma .nn { color:#111 }
html:not(.dark) /* NameOther */ .chroma .nx { color:#75af00 }
html:not(.dark) /* NameProperty */ .chroma .py { color:#111 }
html:not(.dark) /* NameTag */ .chroma .nt { color:#f92672 }
html:not(.dark) /* NameVariable */ .chroma .nv { color:#111 }
html:not(.dark) /* NameVariableClass */ .chroma .vc { color:#111 }
html:not(.dark) /* NameVariableGlobal */ .chroma .vg { color:#111 }
html:not(.dark) /* NameVariableInstance */ .chroma .vi { color:#111 }
html:not(.dark) /* NameVariableMagic */ .chroma .vm { color:#111 }
html:not(.dark) /* Literal */ .chroma .l { color:#ae81ff }
html:not(.dark) /* LiteralDate */ .chroma .ld { color:#d88200 }
html:not(.dark) /* LiteralString */ .chroma .s { color:#d88200 }
html:not(.dark) /* LiteralStringAffix */ .chroma .sa { color:#d88200 }
html:not(.dark) /* LiteralStringBacktick */ .chroma .sb { color:#d88200 }
html:not(.dark) /* LiteralStringChar */ .chroma .sc { color:#d88200 }
html:not(.dark) /* LiteralStringDelimiter */ .chroma .dl { color:#d88200 }
html:not(.dark) /* LiteralStringDoc */ .chroma .sd { color:#d88200 }
html:not(.dark) /* LiteralStringDouble */ .chroma .s2 { color:#d88200 }
html:not(.dark) /* LiteralStringEscape */ .chroma .se { color:#8045ff }
html:not(.dark) /* LiteralStringHeredoc */ .chroma .sh { color:#d88200 }
html:not(.dark) /* LiteralStringInterpol */ .chroma .si { color:#d88200 }
html:not(.dark) /* LiteralStringOther */ .chroma .sx { color:#d88200 }
html:not(.dark) /* LiteralStringRegex */ .chroma .sr { color:#d88200 }
html:not(.dark) /* LiteralStringSingle */ .chroma .s1 { color:#d88200 }
html:not(.dark) /* LiteralStringSymbol */ .chroma .ss { color:#d88200 }
html:not(.dark) /* LiteralNumber */ .chroma .m { color:#ae81ff }
html:not(.dark) /* LiteralNumberBin */ .chroma .mb { color:#ae81ff }
html:not(.dark) /* LiteralNumberFloat */ .chroma .mf { color:#ae81ff }
html:not(.dark) /* LiteralNumberHex */ .chroma .mh { color:#ae81ff }
html:not(.dark) /* LiteralNumberInteger */ .chroma .mi { color:#ae81ff }
html:not(.dark) /* LiteralNumberIntegerLong */ .chroma .il { color:#ae81ff }
html:not(.dark) /* LiteralNumberOct */ .chroma .mo { color:#ae81ff }
html:not(.dark) /* Operator */ .chroma .o { color:#f92672 }
html:not(.dark) /* OperatorWord */ .chroma .ow { color:#f92672 }
html:not(.dark) /* Punctuation */ .chroma .p { color:#111 }
html:not(.dark) /* Comment */ .chroma .c { color:#75715e }
html:not(.dark) /* CommentHashbang */ .chroma .ch { color:#75715e }
html:not(.dark) /* CommentMultiline */ .chroma .cm { color:#75715e }
html:not(.dark) /* CommentSingle */ .chroma .c1 { color:#75715e }
html:not(.dark) /* CommentSpecial */ .chroma .cs { color:#75715e }
html:not(.dark) /* CommentPreproc */ .chroma .cp { color:#75715e }
html:not(.dark) /* CommentPreprocFile */ .chroma .cpf { color:#75715e }
html:not(.dark) /* Generic */ .chroma .g {  }
html:not(.dark) /* GenericDeleted */ .chroma .gd {  }
html:not(.dark) /* GenericEmph */ .chroma .ge { font-style:italic }
html:not(.dark) /* GenericError */ .chroma .gr {  }
html:not(.dark) /* GenericHeading */ .chroma .gh {  }
html:not(.dark) /* GenericInserted */ .chroma .gi {  }
html:not(.dark) /* GenericOutput */ .chroma .go {  }
html:not(.dark) /* GenericPrompt */ .chroma .gp {  }
html:not(.dark) /* GenericStrong */ .chroma .gs { font-weight:bold }
html:not(.dark) /* GenericSubheading */ .chroma .gu {  }
html:not(.dark) /* GenericTraceback */ .chroma .gt {  }
html:not(.dark) /* GenericUnderline */ .chroma .gl {  }
html:not(.dark) /* TextWhitespace */ .chroma .w {  }


html.dark /* Background */ .bg { color:#f8f8f2;background-color:#282a36; }
html.dark /* PreWrapper */ .chroma { color:#f8f8f2;background-color:var(--color-primary-900); }
html.dark /* Other */ .chroma .x {  }
html.dark /* Error */ .chroma .err {  }
html.dark /* CodeLine */ .chroma .cl {  }
html.dark /* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
html.dark /* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
html.dark /* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
html.dark /* LineHighlight */ .chroma .hl { background-color:#3d3f4a }
html.dark /* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
html.dark /* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
html.dark /* Line */ .chroma .line { display:flex; }
html.dark /* Keyword */ .chroma .k { color:#ff79c6 }
html.dark /* KeywordConstant */ .chroma .kc { color:#ff79c6 }
html.dark /* KeywordDeclaration */ .chroma .kd { color:#8be9fd;font-style:italic }
html.dark /* KeywordNamespace */ .chroma .kn { color:#ff79c6 }
html.dark /* KeywordPseudo */ .chroma .kp { color:#ff79c6 }
html.dark /* KeywordReserved */ .chroma .kr { color:#ff79c6 }
html.dark /* KeywordType */ .chroma .kt { color:#8be9fd }
html.dark /* Name */ .chroma .n {  }
html.dark /* NameAttribute */ .chroma .na { color:#50fa7b }
html.dark /* NameBuiltin */ .chroma .nb { color:#8be9fd;font-style:italic }
html.dark /* NameBuiltinPseudo */ .chroma .bp {  }
html.dark /* NameClass */ .chroma .nc { color:#50fa7b }
html.dark /* NameConstant */ .chroma .no {  }
html.dark /* NameDecorator */ .chroma .nd {  }
html.dark /* NameEntity */ .chroma .ni {  }
html.dark /* NameException */ .chroma .ne {  }
html.dark /* NameFunction */ .chroma .nf { color:#50fa7b }
html.dark /* NameFunctionMagic */ .chroma .fm {  }
html.dark /* NameLabel */ .chroma .nl { color:#8be9fd;font-style:italic }
html.dark /* NameNamespace */ .chroma .nn {  }
html.dark /* NameOther */ .chroma .nx {  }
html.dark /* NameProperty */ .chroma .py {  }
html.dark /* NameTag */ .chroma .nt { color:#ff79c6 }
html.dark /* NameVariable */ .chroma .nv { color:#8be9fd;font-style:italic }
html.dark /* NameVariableClass */ .chroma .vc { color:#8be9fd;font-style:italic }
html.dark /* NameVariableGlobal */ .chroma .vg { color:#8be9fd;font-style:italic }
html.dark /* NameVariableInstance */ .chroma .vi { color:#8be9fd;font-style:italic }
html.dark /* NameVariableMagic */ .chroma .vm {  }
html.dark /* Literal */ .chroma .l {  }
html.dark /* LiteralDate */ .chroma .ld {  }
html.dark /* LiteralString */ .chroma .s { color:#f1fa8c }
html.dark /* LiteralStringAffix */ .chroma .sa { color:#f1fa8c }
html.dark /* LiteralStringBacktick */ .chroma .sb { color:#f1fa8c }
html.dark /* LiteralStringChar */ .chroma .sc { color:#f1fa8c }
html.dark /* LiteralStringDelimiter */ .chroma .dl { color:#f1fa8c }
html.dark /* LiteralStringDoc */ .chroma .sd { color:#f1fa8c }
html.dark /* LiteralStringDouble */ .chroma .s2 { color:#f1fa8c }
html.dark /* LiteralStringEscape */ .chroma .se { color:#f1fa8c }
html.dark /* LiteralStringHeredoc */ .chroma .sh { color:#f1fa8c }
html.dark /* LiteralStringInterpol */ .chroma .si { color:#f1fa8c }
html.dark /* LiteralStringOther */ .chroma .sx { color:#f1fa8c }
html.dark /* LiteralStringRegex */ .chroma .sr { color:#f1fa8c }
html.dark /* LiteralStringSingle */ .chroma .s1 { color:#f1fa8c }
html.dark /* LiteralStringSymbol */ .chroma .ss { color:#f1fa8c }
html.dark /* LiteralNumber */ .chroma .m { color:#bd93f9 }
html.dark /* LiteralNumberBin */ .chroma .mb { color:#bd93f9 }
html.dark /* LiteralNumberFloat */ .chroma .mf { color:#bd93f9 }
html.dark /* LiteralNumberHex */ .chroma .mh { color:#bd93f9 }
html.dark /* LiteralNumberInteger */ .chroma .mi { color:#bd93f9 }
html.dark /* LiteralNumberIntegerLong */ .chroma .il { color:#bd93f9 }
html.dark /* LiteralNumberOct */ .chroma .mo { color:#bd93f9 }
html.dark /* Operator */ .chroma .o { color:#ff79c6 }
html.dark /* OperatorWord */ .chroma .ow { color:#ff79c6 }
html.dark /* Punctuation */ .chroma .p {  }
html.dark /* Comment */ .chroma .c { color:#6272a4 }
html.dark /* CommentHashbang */ .chroma .ch { color:#6272a4 }
html.dark /* CommentMultiline */ .chroma .cm { color:#6272a4 }
html.dark /* CommentSingle */ .chroma .c1 { color:#6272a4 }
html.dark /* CommentSpecial */ .chroma .cs { color:#6272a4 }
html.dark /* CommentPreproc */ .chroma .cp { color:#ff79c6 }
html.dark /* CommentPreprocFile */ .chroma .cpf { color:#ff79c6 }
html.dark /* Generic */ .chroma .g {  }
html.dark /* GenericDeleted */ .chroma .gd { color:#f55 }
html.dark /* GenericEmph */ .chroma .ge { text-decoration:underline }
html.dark /* GenericError */ .chroma .gr {  }
html.dark /* GenericHeading */ .chroma .gh { font-weight:bold }
html.dark /* GenericInserted */ .chroma .gi { color:#50fa7b;font-weight:bold }
html.dark /* GenericOutput */ .chroma .go { color:#44475a }
html.dark /* GenericPrompt */ .chroma .gp {  }
html.dark /* GenericStrong */ .chroma .gs {  }
html.dark /* GenericSubheading */ .chroma .gu { font-weight:bold }
html.dark /* GenericTraceback */ .chroma .gt {  }
html.dark /* GenericUnderline */ .chroma .gl { text-decoration:underline }
html.dark /* TextWhitespace */ .chroma .w {  }
